<!DOCTYPE html>
<html lang="pt" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Site Title -->
	<title>tdm</title>

	<div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>

<body>

	<!-- Start Header Area -->
	<div th:replace="~{/fragments/header.html :: header}"></div>
	<!-- End Header Area -->


	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="overlay"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 	<!-- End category Area -->



	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">

		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Produtos</h1>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- single product -->
                    <!--Início do Grid-->
                    <div class="col-md-4" th:each="produto : ${produtos}">
                        <div class=" card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/USE.jpg"
                                    th:src="@{/assets/img/fotos-produtos/{id}(id=${produto.imagem})}"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> <span th:text="${produto.nome}">Nome</span> </a>
                                </h3>
                                <p class="card-text" th:text="${produto.descricao}">
                                    descrição
                                </p>
                                <p class="card-text" th:text="${produto.valor}">
                                    valor
                                </p>
								<p class="card-text" th:text="${produto.numeracao}">
									numeração
								</p>


                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->
					<!-- single product -->

				</div>
			</div> <!-- container -->
		</div> <!-- slider -->







	</section>
	<!-- end product Area -->





	<!-- start footer Area -->
	<div th:replace="~{/fragments/footer.html :: footer}"></div>
	<!-- End footer Area -->

	<div th:replace="~{/fragments/scripts.html :: scripts}"></div>
</body>

</html>